﻿@{
    ViewBag.Title = "Log in";
}


@using(Html.BeginForm("LogIn","User",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <hr />
    @Html.Label("Login", new { @for="login", @class=""})
    @Html.Editor("login")
    <hr />
    @Html.Label("Password", new { @for = "password", @class = "" })
    @Html.Password("password")
    <hr />
    <label for="rememberMe" > Remember me</label>
     @Html.CheckBox("rememberMe")
    <input type="submit" value="Log in" />
}