﻿@using Microsoft.AspNet.Identity
@using Calculator.CommonBL.DataModels
@using Calculator.MVC.ASP.Services
@{
    UserDataModel user = null;
    var isAuthorized = UserCookieService.GetUser(Request, ref user);
    
}

@if (isAuthorized)
{
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(user.Login+"(settings)", "Index", "User", routeValues: null, htmlAttributes: new { title = user.Login })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Registration", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "LogIn", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
