﻿ @model  Calculator.CommonBL.DataModels.LogDataModel[]

@{
    ViewBag.Title = "Logs";
}

@{
    
    int LogId;
    int? UserId;
    bool IsError;
    string ErrorDetails;
    string Message;
    double Rezult;
    DateTime Datetime;

    

    var listItems = Model.Select(p=>p.User==null?new{id=-1,login="Unknown user"}:
        new{id=p.User.UserId,login=p.User.Login} )
        .Distinct()
        .Select(p => new SelectListItem()
    {
        Text = p.login ,
        Value = p.id.ToString()
    }).ToArray();
    
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>
            There are logs created our users
        </p>
    </div>

    @using (Html.BeginForm("Index","Logs", FormMethod.Get))
    {
        @Html.DropDownList("userId",listItems);

        <input type="submit" value="View logs by user" />
    }
    <a href="~/Logs/">Show all</a>

            @for (var i = 0; i < Model.Length; i++ )
            {
                Html.RenderPartial("~/Views/Logs/_partialLog.cshtml", Model[i]);
            }


</div>