﻿@model Gallery.ASP.Models.LoginViewModel

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

 @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Log in form</legend>

            <div class=" ">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class=" ">
                @Html.TextBoxFor(p=>p.Email)
               @Html.ValidationMessageFor(p=>p.Email)
            </div>

            <div class=" ">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class=" ">
                @Html.TextBoxFor(p => p.Password)
                @Html.ValidationMessageFor(p => p.Password)
            </div>
            @Html.LabelFor(m => m.RememberMe)
            <div class=" ">
                @Html.CheckBoxFor(p => p.RememberMe)
                @Html.ValidationMessageFor(p => p.RememberMe)
            </div>

            <p>
                <input type="submit" value="Enter " />
            </p>
        </fieldset>
    </div>
}