﻿<!DOCTYPE html>
<html data-ng-app="CalculatorApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/CalculatorApp.js"></script>
</head>
<body>
    <div data-ng-controller="Main" class="Main">
        <input class="display" type="text" ng-model="CurDisplay" />
        <hr />
        <div class="keyBoard">
            <div ng-repeat="row in KeyBoard">
                <input class="btn" ng-repeat="item in row " ng-if="item!=null" type="button"
                        ng-click="AddNumber(item)" value="{{item}}" />
            </div>
        </div>
    </div>
</body>
</html>
