﻿@{
    ViewBag.Title = "Calculator main";
}

@{
    ViewBag.CommandKeys = new[]
        {
             new[] {"M+","M-","MR","MC" ,"C"},
        };
    ViewBag.TextKeys = new[]
        {
            new[] {"(", ")","."},
            new[] {"1", "2", "3", "4", "5"},
            new[] {"6", "7", "8", "9", "0"},
            new[] {"+", "-", "*", "/", "√"},
            new[] {"sin(", "cos(", "tg(","cot(","^"},
        };
}


<div class="keyBoard">
    <hr/>
    <div class="input-group-lg">
        <input id="display" class="form-control" placeholder="Type expression" type="text">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg command-button" type="button">=</button>
            <label for="saveLogs">Save logs</label><input name="saveLogs" type="checkbox" checked />
        </span>
    </div>

    <span id="prev-result">@Html.Partial("Result")</span>
    <hr/>
    <div class="btn-group btn-group-lg" role="group">
        <!-- Row with command buttons -->
        @foreach (var key in @ViewBag.CommandKeys[0])
        {
            <button type="button" class="btn btn-default btn-lg command-button" type="button">@key</button>
        }
    </div>
    
    @foreach (var row in @ViewBag.TextKeys)
    {
        <hr />
       
        <div class="btn-group btn-group-lg" role="group">
            @foreach (var key in row)
            {
                if (key == null)
                {
                    continue;
                }
                <button type="button" class="btn btn-default btn-lg txt-button" >@key</button>
            }
        </div>
    }
    
</div>

   