﻿@model Calculator.CommonBL.DataModels.ResultDataModel



    @if (Model != null)
    {
        var panelState = Model.IsError ? "panel-danger" : "panel-success";
        var hid = !Model.IsError;
        var msg = Model.Message + (Model.IsError ? "= error" : ("=" + Model.Rezult));
        <div class="panel @panelState">
            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">
                   @msg
                    <a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a>
                </h3>
            </div>
            <div class="panel-body"  hidden="@hid">
                @Model.ErrorDetails
            </div>
        </div>
    }

